In [2]:
import pandas as pd

IMPORTAR TABELA

In [3]:
df = pd.read_csv('empresa1.CSV', encoding = 'latin1', sep = ';')
df

,",",BANCO DO BRASIL SA,2038,10,"1,2E+11",5,Unnamed: 6
0,1,ASSOCIACAO DE AMIGOS DE BAIRRO DO CONJ PAULISTANO,3999,16,0,5.0,NaN
1,2,WM&R EMPREITEIRA DE CONSTRUCAO CIVIL LIMITADA,2240,49,0,5.0,NaN
2,3,CASA CARIDADE LUZETE ROBERTA DE MORAIS CONJ PA...,3999,16,0,5.0,NaN
3,4,ASSOCIACAO DO PEQUENO ADOLECENTE DO CONJ PAULI...,3999,16,0,5.0,NaN
4,5,SERRALHERIA PORTA DE ACO REAL S/C LTDA,2240,28,0,5.0,NaN
...,...,...,...,...,...,...,...
1048570,1085040,MARIA MADALENA AZENHA GROSSI,2135,50,0,1.0,NaN
1048571,1085041,DISLUBEL COMERCIO DE DOCES E MIUDEZAS EM LTDA,2062,49,0,5.0,NaN
1048572,1085042,LUIZ PORTA LUNIOR,2135,50,0,5.0,NaN
1048573,1085043,SEMMA COMERCIAL DE CONFECCOES LTDA,2062,49,0,1.0,NaN
1048574,1085044,CARLOS CESAR DE SANTANA,2135,50,0,1.0,NaN

TIRAR O HEAD (CABEÇALHO)

In [4]:
df = pd.read_csv('empresa1.CSV', encoding = 'latin1', sep = ';', header=None)
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_10256\1726553040.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('empresa1.CSV', encoding = 'latin1', sep = ';', header=None)

,0,1,2,3,4,5,6
0,",",BANCO DO BRASIL SA,2038,10,"1,2E+11",5.0,NaN
1,1,ASSOCIACAO DE AMIGOS DE BAIRRO DO CONJ PAULISTANO,3999,16,0,5.0,NaN
2,2,WM&R EMPREITEIRA DE CONSTRUCAO CIVIL LIMITADA,2240,49,0,5.0,NaN
3,3,CASA CARIDADE LUZETE ROBERTA DE MORAIS CONJ PA...,3999,16,0,5.0,NaN
4,4,ASSOCIACAO DO PEQUENO ADOLECENTE DO CONJ PAULI...,3999,16,0,5.0,NaN
...,...,...,...,...,...,...,...
1048571,1085040,MARIA MADALENA AZENHA GROSSI,2135,50,0,1.0,NaN
1048572,1085041,DISLUBEL COMERCIO DE DOCES E MIUDEZAS EM LTDA,2062,49,0,5.0,NaN
1048573,1085042,LUIZ PORTA LUNIOR,2135,50,0,5.0,NaN
1048574,1085043,SEMMA COMERCIAL DE CONFECCOES LTDA,2062,49,0,1.0,NaN
1048575,1085044,CARLOS CESAR DE SANTANA,2135,50,0,1.0,NaN

INSERIR NOVO HEAD (CABEÇALHO)

In [5]:
df.columns = ['CNPJ', 'INDEFICADOR MATRIZ/FILIAL', 'RAZÃO SOCIAL', 'NOME FANTASIA', 'SITUAÇÃO CADASTRAL',
                    'DATA SITUAÇÃO CADASTRAL', 'CO-PAÍS']
                    
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,",",BANCO DO BRASIL SA,2038,10,"1,2E+11",5.0,NaN
1,1,ASSOCIACAO DE AMIGOS DE BAIRRO DO CONJ PAULISTANO,3999,16,0,5.0,NaN
2,2,WM&R EMPREITEIRA DE CONSTRUCAO CIVIL LIMITADA,2240,49,0,5.0,NaN
3,3,CASA CARIDADE LUZETE ROBERTA DE MORAIS CONJ PA...,3999,16,0,5.0,NaN
4,4,ASSOCIACAO DO PEQUENO ADOLECENTE DO CONJ PAULI...,3999,16,0,5.0,NaN
...,...,...,...,...,...,...,...
1048571,1085040,MARIA MADALENA AZENHA GROSSI,2135,50,0,1.0,NaN
1048572,1085041,DISLUBEL COMERCIO DE DOCES E MIUDEZAS EM LTDA,2062,49,0,5.0,NaN
1048573,1085042,LUIZ PORTA LUNIOR,2135,50,0,5.0,NaN
1048574,1085043,SEMMA COMERCIAL DE CONFECCOES LTDA,2062,49,0,1.0,NaN
1048575,1085044,CARLOS CESAR DE SANTANA,2135,50,0,1.0,NaN

ELIMINAR A ULTIMA LINHA

In [6]:
df.drop(df.tail(1).index, inplace=True)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,",",BANCO DO BRASIL SA,2038,10,"1,2E+11",5.0,NaN
1,1,ASSOCIACAO DE AMIGOS DE BAIRRO DO CONJ PAULISTANO,3999,16,0,5.0,NaN
2,2,WM&R EMPREITEIRA DE CONSTRUCAO CIVIL LIMITADA,2240,49,0,5.0,NaN
3,3,CASA CARIDADE LUZETE ROBERTA DE MORAIS CONJ PA...,3999,16,0,5.0,NaN
4,4,ASSOCIACAO DO PEQUENO ADOLECENTE DO CONJ PAULI...,3999,16,0,5.0,NaN
...,...,...,...,...,...,...,...
1048570,1085039,COMERCIO DE PECAS AUTOMOTIVAS MAGJO LTDA,2062,49,0,5.0,NaN
1048571,1085040,MARIA MADALENA AZENHA GROSSI,2135,50,0,1.0,NaN
1048572,1085041,DISLUBEL COMERCIO DE DOCES E MIUDEZAS EM LTDA,2062,49,0,5.0,NaN
1048573,1085042,LUIZ PORTA LUNIOR,2135,50,0,5.0,NaN
1048574,1085043,SEMMA COMERCIAL DE CONFECCOES LTDA,2062,49,0,1.0,NaN

EXPORTAR TABELA:

In [7]:
df.to_csv('n_empresa1.csv', index=False)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,",",BANCO DO BRASIL SA,2038,10,"1,2E+11",5.0,NaN
1,1,ASSOCIACAO DE AMIGOS DE BAIRRO DO CONJ PAULISTANO,3999,16,0,5.0,NaN
2,2,WM&R EMPREITEIRA DE CONSTRUCAO CIVIL LIMITADA,2240,49,0,5.0,NaN
3,3,CASA CARIDADE LUZETE ROBERTA DE MORAIS CONJ PA...,3999,16,0,5.0,NaN
4,4,ASSOCIACAO DO PEQUENO ADOLECENTE DO CONJ PAULI...,3999,16,0,5.0,NaN
...,...,...,...,...,...,...,...
1048570,1085039,COMERCIO DE PECAS AUTOMOTIVAS MAGJO LTDA,2062,49,0,5.0,NaN
1048571,1085040,MARIA MADALENA AZENHA GROSSI,2135,50,0,1.0,NaN
1048572,1085041,DISLUBEL COMERCIO DE DOCES E MIUDEZAS EM LTDA,2062,49,0,5.0,NaN
1048573,1085042,LUIZ PORTA LUNIOR,2135,50,0,5.0,NaN
1048574,1085043,SEMMA COMERCIAL DE CONFECCOES LTDA,2062,49,0,1.0,NaN

In [9]:
df.to_excel('n_empresa1.xlsx', index=False)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,",",BANCO DO BRASIL SA,2038,10,"1,2E+11",5.0,NaN
1,1,ASSOCIACAO DE AMIGOS DE BAIRRO DO CONJ PAULISTANO,3999,16,0,5.0,NaN
2,2,WM&R EMPREITEIRA DE CONSTRUCAO CIVIL LIMITADA,2240,49,0,5.0,NaN
3,3,CASA CARIDADE LUZETE ROBERTA DE MORAIS CONJ PA...,3999,16,0,5.0,NaN
4,4,ASSOCIACAO DO PEQUENO ADOLECENTE DO CONJ PAULI...,3999,16,0,5.0,NaN
...,...,...,...,...,...,...,...
1048570,1085039,COMERCIO DE PECAS AUTOMOTIVAS MAGJO LTDA,2062,49,0,5.0,NaN
1048571,1085040,MARIA MADALENA AZENHA GROSSI,2135,50,0,1.0,NaN
1048572,1085041,DISLUBEL COMERCIO DE DOCES E MIUDEZAS EM LTDA,2062,49,0,5.0,NaN
1048573,1085042,LUIZ PORTA LUNIOR,2135,50,0,5.0,NaN
1048574,1085043,SEMMA COMERCIAL DE CONFECCOES LTDA,2062,49,0,1.0,NaN