In [1]:
import pandas as pd

IMPORTAR TABELA

In [2]:
df = pd.read_csv('empresa2.CSV', encoding='latin-1', sep=';')
df

,4631961,ITACAMP INDUSTRIAL LTDA,2062,49,0,1,Unnamed: 6
0,4631962,CLINICA OFTALMOLOGICA DR VANIA XIMENES LTDA,2062,49,0,5.0,NaN
1,4631963,EXPRESSO COSTA LTDA,2062,49,0,1.0,NaN
2,4631964,PAULO BRAGA PROJETOS ESTRUTURAIS E CONSULTORIA...,2232,49,20000,1.0,NaN
3,4631965,COTERMAQ CONSERTOS E TERCEIRIZACAO DE MAQUINAS...,2062,49,0,3.0,NaN
4,4631967,ACACIA MEDICINA DO TRABALHO E SEGURANCA LTDA,2240,49,500000,3.0,NaN
...,...,...,...,...,...,...,...
1048570,5699116,SANTOS & PEREIRA LTDA,2062,49,0,1.0,NaN
1048571,5699117,INDUSTRIA E COMERCIO DE ERVA MATE FERRAZ & FON...,2062,49,0,1.0,NaN
1048572,5699118,A. MARCOS RIOS DA SILVA,2135,50,0,5.0,NaN
1048573,5699119,CRM COM E REP LTDA,2062,49,80000,1.0,NaN
1048574,5699120,JOIA BRASIL - EXPOSICOES E EVENTOS LTDA,2062,49,5000,1.0,NaN

TIRAR O HEAD (CABEÇALHO)

In [3]:
df = pd.read_csv('empresa2.CSV', encoding='latin-1', sep=';', header=None)
df

,0,1,2,3,4,5,6
0,4631961,ITACAMP INDUSTRIAL LTDA,2062,49,0,1.0,NaN
1,4631962,CLINICA OFTALMOLOGICA DR VANIA XIMENES LTDA,2062,49,0,5.0,NaN
2,4631963,EXPRESSO COSTA LTDA,2062,49,0,1.0,NaN
3,4631964,PAULO BRAGA PROJETOS ESTRUTURAIS E CONSULTORIA...,2232,49,20000,1.0,NaN
4,4631965,COTERMAQ CONSERTOS E TERCEIRIZACAO DE MAQUINAS...,2062,49,0,3.0,NaN
...,...,...,...,...,...,...,...
1048571,5699116,SANTOS & PEREIRA LTDA,2062,49,0,1.0,NaN
1048572,5699117,INDUSTRIA E COMERCIO DE ERVA MATE FERRAZ & FON...,2062,49,0,1.0,NaN
1048573,5699118,A. MARCOS RIOS DA SILVA,2135,50,0,5.0,NaN
1048574,5699119,CRM COM E REP LTDA,2062,49,80000,1.0,NaN
1048575,5699120,JOIA BRASIL - EXPOSICOES E EVENTOS LTDA,2062,49,5000,1.0,NaN

INSERIR NOVO HEAD (CABEÇALHO)

In [4]:
df.columns = ['CNPJ', 'INDEFICADOR MATRIZ/FILIAL', 'RAZÃO SOCIAL', 'NOME FANTASIA', 'SITUAÇÃO CADASTRAL',
                    'DATA SITUAÇÃO CADASTRAL', 'CO-PAÍS']
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,4631961,ITACAMP INDUSTRIAL LTDA,2062,49,0,1.0,NaN
1,4631962,CLINICA OFTALMOLOGICA DR VANIA XIMENES LTDA,2062,49,0,5.0,NaN
2,4631963,EXPRESSO COSTA LTDA,2062,49,0,1.0,NaN
3,4631964,PAULO BRAGA PROJETOS ESTRUTURAIS E CONSULTORIA...,2232,49,20000,1.0,NaN
4,4631965,COTERMAQ CONSERTOS E TERCEIRIZACAO DE MAQUINAS...,2062,49,0,3.0,NaN
...,...,...,...,...,...,...,...
1048571,5699116,SANTOS & PEREIRA LTDA,2062,49,0,1.0,NaN
1048572,5699117,INDUSTRIA E COMERCIO DE ERVA MATE FERRAZ & FON...,2062,49,0,1.0,NaN
1048573,5699118,A. MARCOS RIOS DA SILVA,2135,50,0,5.0,NaN
1048574,5699119,CRM COM E REP LTDA,2062,49,80000,1.0,NaN
1048575,5699120,JOIA BRASIL - EXPOSICOES E EVENTOS LTDA,2062,49,5000,1.0,NaN

ELIMINAR A ÚLTIMA LINHA

In [5]:
df.drop(df.tail(1).index, inplace=True)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,4631961,ITACAMP INDUSTRIAL LTDA,2062,49,0,1.0,NaN
1,4631962,CLINICA OFTALMOLOGICA DR VANIA XIMENES LTDA,2062,49,0,5.0,NaN
2,4631963,EXPRESSO COSTA LTDA,2062,49,0,1.0,NaN
3,4631964,PAULO BRAGA PROJETOS ESTRUTURAIS E CONSULTORIA...,2232,49,20000,1.0,NaN
4,4631965,COTERMAQ CONSERTOS E TERCEIRIZACAO DE MAQUINAS...,2062,49,0,3.0,NaN
...,...,...,...,...,...,...,...
1048570,5699115,ART SOLUCOES & INFORMATICA LTDA,2062,49,0,5.0,NaN
1048571,5699116,SANTOS & PEREIRA LTDA,2062,49,0,1.0,NaN
1048572,5699117,INDUSTRIA E COMERCIO DE ERVA MATE FERRAZ & FON...,2062,49,0,1.0,NaN
1048573,5699118,A. MARCOS RIOS DA SILVA,2135,50,0,5.0,NaN
1048574,5699119,CRM COM E REP LTDA,2062,49,80000,1.0,NaN

EMPORTAR TABELA:

In [6]:
df.to_csv('n_empresa2.csv', index=False)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,4631961,ITACAMP INDUSTRIAL LTDA,2062,49,0,1.0,NaN
1,4631962,CLINICA OFTALMOLOGICA DR VANIA XIMENES LTDA,2062,49,0,5.0,NaN
2,4631963,EXPRESSO COSTA LTDA,2062,49,0,1.0,NaN
3,4631964,PAULO BRAGA PROJETOS ESTRUTURAIS E CONSULTORIA...,2232,49,20000,1.0,NaN
4,4631965,COTERMAQ CONSERTOS E TERCEIRIZACAO DE MAQUINAS...,2062,49,0,3.0,NaN
...,...,...,...,...,...,...,...
1048570,5699115,ART SOLUCOES & INFORMATICA LTDA,2062,49,0,5.0,NaN
1048571,5699116,SANTOS & PEREIRA LTDA,2062,49,0,1.0,NaN
1048572,5699117,INDUSTRIA E COMERCIO DE ERVA MATE FERRAZ & FON...,2062,49,0,1.0,NaN
1048573,5699118,A. MARCOS RIOS DA SILVA,2135,50,0,5.0,NaN
1048574,5699119,CRM COM E REP LTDA,2062,49,80000,1.0,NaN

In [8]:
df.to_excel('n_empresa2.xlsx', index=False)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,4631961,ITACAMP INDUSTRIAL LTDA,2062,49,0,1.0,NaN
1,4631962,CLINICA OFTALMOLOGICA DR VANIA XIMENES LTDA,2062,49,0,5.0,NaN
2,4631963,EXPRESSO COSTA LTDA,2062,49,0,1.0,NaN
3,4631964,PAULO BRAGA PROJETOS ESTRUTURAIS E CONSULTORIA...,2232,49,20000,1.0,NaN
4,4631965,COTERMAQ CONSERTOS E TERCEIRIZACAO DE MAQUINAS...,2062,49,0,3.0,NaN
...,...,...,...,...,...,...,...
1048570,5699115,ART SOLUCOES & INFORMATICA LTDA,2062,49,0,5.0,NaN
1048571,5699116,SANTOS & PEREIRA LTDA,2062,49,0,1.0,NaN
1048572,5699117,INDUSTRIA E COMERCIO DE ERVA MATE FERRAZ & FON...,2062,49,0,1.0,NaN
1048573,5699118,A. MARCOS RIOS DA SILVA,2135,50,0,5.0,NaN
1048574,5699119,CRM COM E REP LTDA,2062,49,80000,1.0,NaN