In [3]:
import pandas as pd

IMPORTAR TABELA

In [4]:
df = pd.read_csv('empresa3.csv', encoding = 'latin-1', sep = ';')
df

,9253555,FRANCISCO ENIVALDO RODRIGUES DE OLIVEIRA,2135,50,30000,1,Unnamed: 6
0,9253556,BORGES E PIRETT LTDA,2062,49,20000,1.0,NaN
1,9253557,FARMACIA E DROGARIA PLUS LTDA,2062,49,100000,1.0,NaN
2,9253558,EMBALAGENS VIVETO LTDA,2062,49,15000,1.0,NaN
3,9253559,DISTRIBUIDORA RICHTER LTDA,2062,5,33000,1.0,NaN
4,9253560,L.M. AMARAL DA SILVA & CIA.LTDA,2062,49,1000,1.0,NaN
...,...,...,...,...,...,...,...
1048570,10351718,TECEDOR & DOMINGOS REPRESENTACOES COMERCIAIS LTDA,2062,49,5000,1.0,NaN
1048571,10351719,TREVISO & TREVISO LTDA.,2062,49,30000,1.0,NaN
1048572,10351720,INES FERREIRA DA ROCHA MACHADO,2135,50,10000,1.0,NaN
1048573,10351721,C D F CONSULTORIA EM GESTAO EMPRESARIAL UNIPES...,2062,49,1000000,1.0,NaN
1048574,10351722,KESSIA CRISTINA OLIVEIRA DA SILVA,2135,50,20000,1.0,NaN

ELIMINAR O HEAD (CABEÇALHO)

In [5]:
df = pd.read_csv('empresa3.CSV', encoding = 'latin-1', sep = ';', header=None)
df

,0,1,2,3,4,5,6
0,9253555,FRANCISCO ENIVALDO RODRIGUES DE OLIVEIRA,2135,50,30000,1.0,NaN
1,9253556,BORGES E PIRETT LTDA,2062,49,20000,1.0,NaN
2,9253557,FARMACIA E DROGARIA PLUS LTDA,2062,49,100000,1.0,NaN
3,9253558,EMBALAGENS VIVETO LTDA,2062,49,15000,1.0,NaN
4,9253559,DISTRIBUIDORA RICHTER LTDA,2062,5,33000,1.0,NaN
...,...,...,...,...,...,...,...
1048571,10351718,TECEDOR & DOMINGOS REPRESENTACOES COMERCIAIS LTDA,2062,49,5000,1.0,NaN
1048572,10351719,TREVISO & TREVISO LTDA.,2062,49,30000,1.0,NaN
1048573,10351720,INES FERREIRA DA ROCHA MACHADO,2135,50,10000,1.0,NaN
1048574,10351721,C D F CONSULTORIA EM GESTAO EMPRESARIAL UNIPES...,2062,49,1000000,1.0,NaN
1048575,10351722,KESSIA CRISTINA OLIVEIRA DA SILVA,2135,50,20000,1.0,NaN

INSERIR HEAD (CABEÇALHO)

In [6]:
df.columns = ['CNPJ', 'INDEFICADOR MATRIZ/FILIAL', 'RAZÃO SOCIAL', 'NOME FANTASIA', 'SITUAÇÃO CADASTRAL',
                    'DATA SITUAÇÃO CADASTRAL', 'CO-PAÍS']
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,9253555,FRANCISCO ENIVALDO RODRIGUES DE OLIVEIRA,2135,50,30000,1.0,NaN
1,9253556,BORGES E PIRETT LTDA,2062,49,20000,1.0,NaN
2,9253557,FARMACIA E DROGARIA PLUS LTDA,2062,49,100000,1.0,NaN
3,9253558,EMBALAGENS VIVETO LTDA,2062,49,15000,1.0,NaN
4,9253559,DISTRIBUIDORA RICHTER LTDA,2062,5,33000,1.0,NaN
...,...,...,...,...,...,...,...
1048571,10351718,TECEDOR & DOMINGOS REPRESENTACOES COMERCIAIS LTDA,2062,49,5000,1.0,NaN
1048572,10351719,TREVISO & TREVISO LTDA.,2062,49,30000,1.0,NaN
1048573,10351720,INES FERREIRA DA ROCHA MACHADO,2135,50,10000,1.0,NaN
1048574,10351721,C D F CONSULTORIA EM GESTAO EMPRESARIAL UNIPES...,2062,49,1000000,1.0,NaN
1048575,10351722,KESSIA CRISTINA OLIVEIRA DA SILVA,2135,50,20000,1.0,NaN

ELIMINAR A ÚLTIMA LINHA

In [7]:
df.drop(df.tail(1).index, inplace=True)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,9253555,FRANCISCO ENIVALDO RODRIGUES DE OLIVEIRA,2135,50,30000,1.0,NaN
1,9253556,BORGES E PIRETT LTDA,2062,49,20000,1.0,NaN
2,9253557,FARMACIA E DROGARIA PLUS LTDA,2062,49,100000,1.0,NaN
3,9253558,EMBALAGENS VIVETO LTDA,2062,49,15000,1.0,NaN
4,9253559,DISTRIBUIDORA RICHTER LTDA,2062,5,33000,1.0,NaN
...,...,...,...,...,...,...,...
1048570,10351717,GENEZIO AVELINO CARDOSO,2135,50,4000,1.0,NaN
1048571,10351718,TECEDOR & DOMINGOS REPRESENTACOES COMERCIAIS LTDA,2062,49,5000,1.0,NaN
1048572,10351719,TREVISO & TREVISO LTDA.,2062,49,30000,1.0,NaN
1048573,10351720,INES FERREIRA DA ROCHA MACHADO,2135,50,10000,1.0,NaN
1048574,10351721,C D F CONSULTORIA EM GESTAO EMPRESARIAL UNIPES...,2062,49,1000000,1.0,NaN

EXPORTAR TABELA:

In [10]:
df.to_csv('n_empresa3.csv', index=False)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,9253555,FRANCISCO ENIVALDO RODRIGUES DE OLIVEIRA,2135,50,30000,1.0,NaN
1,9253556,BORGES E PIRETT LTDA,2062,49,20000,1.0,NaN
2,9253557,FARMACIA E DROGARIA PLUS LTDA,2062,49,100000,1.0,NaN
3,9253558,EMBALAGENS VIVETO LTDA,2062,49,15000,1.0,NaN
4,9253559,DISTRIBUIDORA RICHTER LTDA,2062,5,33000,1.0,NaN
...,...,...,...,...,...,...,...
1048570,10351717,GENEZIO AVELINO CARDOSO,2135,50,4000,1.0,NaN
1048571,10351718,TECEDOR & DOMINGOS REPRESENTACOES COMERCIAIS LTDA,2062,49,5000,1.0,NaN
1048572,10351719,TREVISO & TREVISO LTDA.,2062,49,30000,1.0,NaN
1048573,10351720,INES FERREIRA DA ROCHA MACHADO,2135,50,10000,1.0,NaN
1048574,10351721,C D F CONSULTORIA EM GESTAO EMPRESARIAL UNIPES...,2062,49,1000000,1.0,NaN

In [11]:
df.to_excel('n_empresa3.xlsx', index=False)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,CO-PAÍS
0,9253555,FRANCISCO ENIVALDO RODRIGUES DE OLIVEIRA,2135,50,30000,1.0,NaN
1,9253556,BORGES E PIRETT LTDA,2062,49,20000,1.0,NaN
2,9253557,FARMACIA E DROGARIA PLUS LTDA,2062,49,100000,1.0,NaN
3,9253558,EMBALAGENS VIVETO LTDA,2062,49,15000,1.0,NaN
4,9253559,DISTRIBUIDORA RICHTER LTDA,2062,5,33000,1.0,NaN
...,...,...,...,...,...,...,...
1048570,10351717,GENEZIO AVELINO CARDOSO,2135,50,4000,1.0,NaN
1048571,10351718,TECEDOR & DOMINGOS REPRESENTACOES COMERCIAIS LTDA,2062,49,5000,1.0,NaN
1048572,10351719,TREVISO & TREVISO LTDA.,2062,49,30000,1.0,NaN
1048573,10351720,INES FERREIRA DA ROCHA MACHADO,2135,50,10000,1.0,NaN
1048574,10351721,C D F CONSULTORIA EM GESTAO EMPRESARIAL UNIPES...,2062,49,1000000,1.0,NaN