In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('estabelecimento8.csv', encoding='LATIN-1', sep=';')
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_3768\3095618016.py:1: DtypeWarning: Columns (8,18,21,22,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento8.csv', encoding='LATIN-1', sep=';')

,23297254,0001,19,1,LUCAS MELLO,08,20170921,01,Unnamed: 8,Unnamed: 9,...,9511,64,99659259,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,lucas_rockeiro75@hotmail.com,Unnamed: 28,Unnamed: 29
0,23297267,1,98,1,MUNDO DO SMARTPHONE,2,20150917,0,NaN,NaN,...,1981,84.0,99508888.0,NaN,NaN,NaN,NaN,IVAN@DATACONRN.COM.BR,NaN,NaN
1,23297277,1,23,1,NaN,4,20210326,63,NaN,NaN,...,6477,11.0,24381956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23297289,1,58,1,DIANA EMBALAGENS,8,20160802,1,NaN,NaN,...,8191,49.0,88355305.0,NaN,NaN,NaN,NaN,frescorearoma@hotmail.com,NaN,NaN
3,23297301,1,24,1,LAVA JATO GR,8,20171101,1,NaN,NaN,...,1066,61.0,92010346.0,NaN,NaN,NaN,NaN,gilbertoribeirodasilvaa@gmail.com,NaN,NaN
4,23297313,1,59,1,NaN,4,20210423,63,NaN,NaN,...,1761,84.0,88059741.0,NaN,NaN,NaN,NaN,FRANCAARTECONFORTGESSO@OUTLOOK.COM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,1586105,1,37,1,MAGDA CONFECCOES,8,20081231,71,NaN,NaN,...,6189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753430,1586183,1,31,1,ALFONSO KIENOLT,2,20051103,0,NaN,NaN,...,8047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,12036158,1,9,1,C. P. COMERCIO DE ALIMENTOS,4,20190130,63,NaN,NaN,...,2443,81.0,35510269.0,NaN,NaN,81.0,35230413.0,rrpaulinelli@hotmail.com,NaN,NaN
4753432,1551856,1,18,1,A BASE MUSIC HALL,2,20181010,0,NaN,NaN,...,9073,67.0,34226797.0,NaN,NaN,NaN,NaN,RSCONTABIL11@HOTMAIL.COM,NaN,NaN
4753433,92715812,88,92,2,NaN,8,19971022,1,NaN,NaN,...,8725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = pd.read_csv('estabelecimento8.csv', encoding='LATIN-1', sep=';', header=None)
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_3768\3040894990.py:1: DtypeWarning: Columns (8,18,21,22,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento8.csv', encoding='LATIN-1', sep=';', header=None)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,23297254,1,19,1,LUCAS MELLO,8,20170921,1,NaN,NaN,...,9511,64.0,99659259.0,NaN,NaN,NaN,NaN,lucas_rockeiro75@hotmail.com,NaN,NaN
1,23297267,1,98,1,MUNDO DO SMARTPHONE,2,20150917,0,NaN,NaN,...,1981,84.0,99508888.0,NaN,NaN,NaN,NaN,IVAN@DATACONRN.COM.BR,NaN,NaN
2,23297277,1,23,1,NaN,4,20210326,63,NaN,NaN,...,6477,11.0,24381956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23297289,1,58,1,DIANA EMBALAGENS,8,20160802,1,NaN,NaN,...,8191,49.0,88355305.0,NaN,NaN,NaN,NaN,frescorearoma@hotmail.com,NaN,NaN
4,23297301,1,24,1,LAVA JATO GR,8,20171101,1,NaN,NaN,...,1066,61.0,92010346.0,NaN,NaN,NaN,NaN,gilbertoribeirodasilvaa@gmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,1586105,1,37,1,MAGDA CONFECCOES,8,20081231,71,NaN,NaN,...,6189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,1586183,1,31,1,ALFONSO KIENOLT,2,20051103,0,NaN,NaN,...,8047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,12036158,1,9,1,C. P. COMERCIO DE ALIMENTOS,4,20190130,63,NaN,NaN,...,2443,81.0,35510269.0,NaN,NaN,81.0,35230413.0,rrpaulinelli@hotmail.com,NaN,NaN
4753433,1551856,1,18,1,A BASE MUSIC HALL,2,20181010,0,NaN,NaN,...,9073,67.0,34226797.0,NaN,NaN,NaN,NaN,RSCONTABIL11@HOTMAIL.COM,NaN,NaN
4753434,92715812,88,92,2,NaN,8,19971022,1,NaN,NaN,...,8725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns = ['DESCRIÇÃO TIPO LOGRADOURO', 'LOGRADOURO', 'NUMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP',
                'UF', 'CODIGO MUNICIPIO', 'MUNICIPIO', 'DDD-TELEFONE-1', 'DDD', 'TELEFONE-1', 'DDD-TELEFONE-2',
                'DDD-2', 'TELEFONE-2', 'DDD-FAX', 'NU-DDD-FAX', 'NU-FAX', 'CORREIO ELETRONICO', 
                'QUALIFICAÇÃO DO RESPONSÁVEL', 'CAPITAL SOCIAL DA EMPRESA', 'PORTE-EMPRESA', 'OPÇÃO PELO SIMPLES',
                'DATA OPCAO PELO SIMPLES', 'DATA EXCLUSÃO DO SIMPLES', 'OPÇÃO PELO MEI', 'SITUAÇÃO ESPECIAL',
                'DATA SITUAÇÃO ESPECIAL', 'FILLER', 'FIM DE REGISTRO']
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,23297254,1,19,1,LUCAS MELLO,8,20170921,1,NaN,NaN,...,9511,64.0,99659259.0,NaN,NaN,NaN,NaN,lucas_rockeiro75@hotmail.com,NaN,NaN
1,23297267,1,98,1,MUNDO DO SMARTPHONE,2,20150917,0,NaN,NaN,...,1981,84.0,99508888.0,NaN,NaN,NaN,NaN,IVAN@DATACONRN.COM.BR,NaN,NaN
2,23297277,1,23,1,NaN,4,20210326,63,NaN,NaN,...,6477,11.0,24381956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23297289,1,58,1,DIANA EMBALAGENS,8,20160802,1,NaN,NaN,...,8191,49.0,88355305.0,NaN,NaN,NaN,NaN,frescorearoma@hotmail.com,NaN,NaN
4,23297301,1,24,1,LAVA JATO GR,8,20171101,1,NaN,NaN,...,1066,61.0,92010346.0,NaN,NaN,NaN,NaN,gilbertoribeirodasilvaa@gmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,1586105,1,37,1,MAGDA CONFECCOES,8,20081231,71,NaN,NaN,...,6189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,1586183,1,31,1,ALFONSO KIENOLT,2,20051103,0,NaN,NaN,...,8047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,12036158,1,9,1,C. P. COMERCIO DE ALIMENTOS,4,20190130,63,NaN,NaN,...,2443,81.0,35510269.0,NaN,NaN,81.0,35230413.0,rrpaulinelli@hotmail.com,NaN,NaN
4753433,1551856,1,18,1,A BASE MUSIC HALL,2,20181010,0,NaN,NaN,...,9073,67.0,34226797.0,NaN,NaN,NaN,NaN,RSCONTABIL11@HOTMAIL.COM,NaN,NaN
4753434,92715812,88,92,2,NaN,8,19971022,1,NaN,NaN,...,8725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.drop(df.tail(1).index, inplace=True)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,23297254,1,19,1,LUCAS MELLO,8,20170921,1,NaN,NaN,...,9511,64.0,99659259.0,NaN,NaN,NaN,NaN,lucas_rockeiro75@hotmail.com,NaN,NaN
1,23297267,1,98,1,MUNDO DO SMARTPHONE,2,20150917,0,NaN,NaN,...,1981,84.0,99508888.0,NaN,NaN,NaN,NaN,IVAN@DATACONRN.COM.BR,NaN,NaN
2,23297277,1,23,1,NaN,4,20210326,63,NaN,NaN,...,6477,11.0,24381956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23297289,1,58,1,DIANA EMBALAGENS,8,20160802,1,NaN,NaN,...,8191,49.0,88355305.0,NaN,NaN,NaN,NaN,frescorearoma@hotmail.com,NaN,NaN
4,23297301,1,24,1,LAVA JATO GR,8,20171101,1,NaN,NaN,...,1066,61.0,92010346.0,NaN,NaN,NaN,NaN,gilbertoribeirodasilvaa@gmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,92702067,35,35,2,BANRISUL,2,20051103,0,NaN,NaN,...,8599,54.0,30262400.0,NaN,NaN,NaN,NaN,AG_SAO_PELEGRINO@BANRISUL.COM.BR,NaN,NaN
4753430,1586105,1,37,1,MAGDA CONFECCOES,8,20081231,71,NaN,NaN,...,6189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,1586183,1,31,1,ALFONSO KIENOLT,2,20051103,0,NaN,NaN,...,8047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,12036158,1,9,1,C. P. COMERCIO DE ALIMENTOS,4,20190130,63,NaN,NaN,...,2443,81.0,35510269.0,NaN,NaN,81.0,35230413.0,rrpaulinelli@hotmail.com,NaN,NaN
4753433,1551856,1,18,1,A BASE MUSIC HALL,2,20181010,0,NaN,NaN,...,9073,67.0,34226797.0,NaN,NaN,NaN,NaN,RSCONTABIL11@HOTMAIL.COM,NaN,NaN

In [7]:
df.to_csv('n_estabelecimento8.csv', index=False)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,23297254,1,19,1,LUCAS MELLO,8,20170921,1,NaN,NaN,...,9511,64.0,99659259.0,NaN,NaN,NaN,NaN,lucas_rockeiro75@hotmail.com,NaN,NaN
1,23297267,1,98,1,MUNDO DO SMARTPHONE,2,20150917,0,NaN,NaN,...,1981,84.0,99508888.0,NaN,NaN,NaN,NaN,IVAN@DATACONRN.COM.BR,NaN,NaN
2,23297277,1,23,1,NaN,4,20210326,63,NaN,NaN,...,6477,11.0,24381956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23297289,1,58,1,DIANA EMBALAGENS,8,20160802,1,NaN,NaN,...,8191,49.0,88355305.0,NaN,NaN,NaN,NaN,frescorearoma@hotmail.com,NaN,NaN
4,23297301,1,24,1,LAVA JATO GR,8,20171101,1,NaN,NaN,...,1066,61.0,92010346.0,NaN,NaN,NaN,NaN,gilbertoribeirodasilvaa@gmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,92702067,35,35,2,BANRISUL,2,20051103,0,NaN,NaN,...,8599,54.0,30262400.0,NaN,NaN,NaN,NaN,AG_SAO_PELEGRINO@BANRISUL.COM.BR,NaN,NaN
4753430,1586105,1,37,1,MAGDA CONFECCOES,8,20081231,71,NaN,NaN,...,6189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,1586183,1,31,1,ALFONSO KIENOLT,2,20051103,0,NaN,NaN,...,8047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,12036158,1,9,1,C. P. COMERCIO DE ALIMENTOS,4,20190130,63,NaN,NaN,...,2443,81.0,35510269.0,NaN,NaN,81.0,35230413.0,rrpaulinelli@hotmail.com,NaN,NaN
4753433,1551856,1,18,1,A BASE MUSIC HALL,2,20181010,0,NaN,NaN,...,9073,67.0,34226797.0,NaN,NaN,NaN,NaN,RSCONTABIL11@HOTMAIL.COM,NaN,NaN