In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('estabelecimento5.csv', encoding = 'latin1', sep = ';')
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_8072\476079849.py:1: DtypeWarning: Columns (8,21,22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento5.csv', encoding = 'latin1', sep = ';')

,65097180,0001,17,1,FAZENDA SANTA BARBARA,08,20020116,54,Unnamed: 8,Unnamed: 9,...,4861,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,65097222,1,10,1,NaN,8,20081231,71,NaN,NaN,...,4723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,83759134,1,18,1,DANYSAT,8,19990728,1,NaN,NaN,...,395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,48266175,1,71,1,BAR E MERCEARIA SANTO ANTONIO,8,19831214,1,NaN,NaN,...,7113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27793272,1,42,1,NaN,8,20150209,73,NaN,NaN,...,5865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,65097388,1,36,1,A GATA Q'RI,8,20071210,1,NaN,NaN,...,4123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,51104899,1,23,1,NaN,2,20230619,0,NaN,NaN,...,4123,31.0,34356666.0,NaN,NaN,NaN,NaN,POLLIANNAOLIVEIRACOSTA@GMAIL.COM,NaN,NaN
4753430,48491826,1,27,1,NaN,2,20221102,0,NaN,NaN,...,5813,71.0,92936688.0,NaN,NaN,NaN,NaN,MATHEUS.MCUNHA@HOTMAIL.COM,NaN,NaN
4753431,51104920,1,90,1,NaN,2,20230619,0,NaN,NaN,...,7607,42.0,99061715.0,NaN,NaN,NaN,NaN,CPKOGA@GMAIL.COM,NaN,NaN
4753432,51104931,1,70,1,ORGANIZA SAUDE,2,20230619,0,NaN,NaN,...,3541,71.0,35113234.0,NaN,NaN,NaN,NaN,ADM@ORGANIZASAUDE.COM.BR,NaN,NaN
4753433,51104943,1,3,1,PODEMOS LAVINIA-SP,2,20230526,0,NaN,NaN,...,6631,18.0,91200343.0,NaN,NaN,NaN,NaN,PODEMOS.LAVINIA.SP@GMAIL.COM,NaN,NaN

In [3]:
df = pd.read_csv('estabelecimento5.csv', encoding = 'latin1', sep = ';', header=None)
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_8072\2382185783.py:1: DtypeWarning: Columns (8,21,22,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento5.csv', encoding = 'latin1', sep = ';', header=None)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,65097180,1,17,1,FAZENDA SANTA BARBARA,8,20020116,54,NaN,NaN,...,4861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65097222,1,10,1,NaN,8,20081231,71,NaN,NaN,...,4723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83759134,1,18,1,DANYSAT,8,19990728,1,NaN,NaN,...,395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,48266175,1,71,1,BAR E MERCEARIA SANTO ANTONIO,8,19831214,1,NaN,NaN,...,7113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27793272,1,42,1,NaN,8,20150209,73,NaN,NaN,...,5865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,51104899,1,23,1,NaN,2,20230619,0,NaN,NaN,...,4123,31.0,34356666.0,NaN,NaN,NaN,NaN,POLLIANNAOLIVEIRACOSTA@GMAIL.COM,NaN,NaN
4753431,48491826,1,27,1,NaN,2,20221102,0,NaN,NaN,...,5813,71.0,92936688.0,NaN,NaN,NaN,NaN,MATHEUS.MCUNHA@HOTMAIL.COM,NaN,NaN
4753432,51104920,1,90,1,NaN,2,20230619,0,NaN,NaN,...,7607,42.0,99061715.0,NaN,NaN,NaN,NaN,CPKOGA@GMAIL.COM,NaN,NaN
4753433,51104931,1,70,1,ORGANIZA SAUDE,2,20230619,0,NaN,NaN,...,3541,71.0,35113234.0,NaN,NaN,NaN,NaN,ADM@ORGANIZASAUDE.COM.BR,NaN,NaN
4753434,51104943,1,3,1,PODEMOS LAVINIA-SP,2,20230526,0,NaN,NaN,...,6631,18.0,91200343.0,NaN,NaN,NaN,NaN,PODEMOS.LAVINIA.SP@GMAIL.COM,NaN,NaN

In [4]:
df.columns = ['DESCRIÇÃO TIPO LOGRADOURO', 'LOGRADOURO', 'NUMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP',
                'UF', 'CODIGO MUNICIPIO', 'MUNICIPIO', 'DDD-TELEFONE-1', 'DDD', 'TELEFONE-1', 'DDD-TELEFONE-2',
                'DDD-2', 'TELEFONE-2', 'DDD-FAX', 'NU-DDD-FAX', 'NU-FAX', 'CORREIO ELETRONICO', 
                'QUALIFICAÇÃO DO RESPONSÁVEL', 'CAPITAL SOCIAL DA EMPRESA', 'PORTE-EMPRESA', 'OPÇÃO PELO SIMPLES',
                'DATA OPCAO PELO SIMPLES', 'DATA EXCLUSÃO DO SIMPLES', 'OPÇÃO PELO MEI', 'SITUAÇÃO ESPECIAL',
                'DATA SITUAÇÃO ESPECIAL', 'FILLER', 'FIM DE REGISTRO']
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,65097180,1,17,1,FAZENDA SANTA BARBARA,8,20020116,54,NaN,NaN,...,4861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65097222,1,10,1,NaN,8,20081231,71,NaN,NaN,...,4723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83759134,1,18,1,DANYSAT,8,19990728,1,NaN,NaN,...,395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,48266175,1,71,1,BAR E MERCEARIA SANTO ANTONIO,8,19831214,1,NaN,NaN,...,7113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27793272,1,42,1,NaN,8,20150209,73,NaN,NaN,...,5865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,51104899,1,23,1,NaN,2,20230619,0,NaN,NaN,...,4123,31.0,34356666.0,NaN,NaN,NaN,NaN,POLLIANNAOLIVEIRACOSTA@GMAIL.COM,NaN,NaN
4753431,48491826,1,27,1,NaN,2,20221102,0,NaN,NaN,...,5813,71.0,92936688.0,NaN,NaN,NaN,NaN,MATHEUS.MCUNHA@HOTMAIL.COM,NaN,NaN
4753432,51104920,1,90,1,NaN,2,20230619,0,NaN,NaN,...,7607,42.0,99061715.0,NaN,NaN,NaN,NaN,CPKOGA@GMAIL.COM,NaN,NaN
4753433,51104931,1,70,1,ORGANIZA SAUDE,2,20230619,0,NaN,NaN,...,3541,71.0,35113234.0,NaN,NaN,NaN,NaN,ADM@ORGANIZASAUDE.COM.BR,NaN,NaN
4753434,51104943,1,3,1,PODEMOS LAVINIA-SP,2,20230526,0,NaN,NaN,...,6631,18.0,91200343.0,NaN,NaN,NaN,NaN,PODEMOS.LAVINIA.SP@GMAIL.COM,NaN,NaN

In [5]:
df.drop(df.tail(1).index, inplace=True)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,65097180,1,17,1,FAZENDA SANTA BARBARA,8,20020116,54,NaN,NaN,...,4861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65097222,1,10,1,NaN,8,20081231,71,NaN,NaN,...,4723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83759134,1,18,1,DANYSAT,8,19990728,1,NaN,NaN,...,395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,48266175,1,71,1,BAR E MERCEARIA SANTO ANTONIO,8,19831214,1,NaN,NaN,...,7113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27793272,1,42,1,NaN,8,20150209,73,NaN,NaN,...,5865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,51104888,1,43,1,NaN,2,20230619,0,NaN,NaN,...,8233,48.0,99158428.0,NaN,NaN,NaN,NaN,CAMILAZANOLLA@HOTMAIL.COM,NaN,NaN
4753430,51104899,1,23,1,NaN,2,20230619,0,NaN,NaN,...,4123,31.0,34356666.0,NaN,NaN,NaN,NaN,POLLIANNAOLIVEIRACOSTA@GMAIL.COM,NaN,NaN
4753431,48491826,1,27,1,NaN,2,20221102,0,NaN,NaN,...,5813,71.0,92936688.0,NaN,NaN,NaN,NaN,MATHEUS.MCUNHA@HOTMAIL.COM,NaN,NaN
4753432,51104920,1,90,1,NaN,2,20230619,0,NaN,NaN,...,7607,42.0,99061715.0,NaN,NaN,NaN,NaN,CPKOGA@GMAIL.COM,NaN,NaN
4753433,51104931,1,70,1,ORGANIZA SAUDE,2,20230619,0,NaN,NaN,...,3541,71.0,35113234.0,NaN,NaN,NaN,NaN,ADM@ORGANIZASAUDE.COM.BR,NaN,NaN

In [6]:
df.to_csv('n_estabelecimento5.csv', index=False)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,65097180,1,17,1,FAZENDA SANTA BARBARA,8,20020116,54,NaN,NaN,...,4861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65097222,1,10,1,NaN,8,20081231,71,NaN,NaN,...,4723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83759134,1,18,1,DANYSAT,8,19990728,1,NaN,NaN,...,395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,48266175,1,71,1,BAR E MERCEARIA SANTO ANTONIO,8,19831214,1,NaN,NaN,...,7113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27793272,1,42,1,NaN,8,20150209,73,NaN,NaN,...,5865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,51104888,1,43,1,NaN,2,20230619,0,NaN,NaN,...,8233,48.0,99158428.0,NaN,NaN,NaN,NaN,CAMILAZANOLLA@HOTMAIL.COM,NaN,NaN
4753430,51104899,1,23,1,NaN,2,20230619,0,NaN,NaN,...,4123,31.0,34356666.0,NaN,NaN,NaN,NaN,POLLIANNAOLIVEIRACOSTA@GMAIL.COM,NaN,NaN
4753431,48491826,1,27,1,NaN,2,20221102,0,NaN,NaN,...,5813,71.0,92936688.0,NaN,NaN,NaN,NaN,MATHEUS.MCUNHA@HOTMAIL.COM,NaN,NaN
4753432,51104920,1,90,1,NaN,2,20230619,0,NaN,NaN,...,7607,42.0,99061715.0,NaN,NaN,NaN,NaN,CPKOGA@GMAIL.COM,NaN,NaN
4753433,51104931,1,70,1,ORGANIZA SAUDE,2,20230619,0,NaN,NaN,...,3541,71.0,35113234.0,NaN,NaN,NaN,NaN,ADM@ORGANIZASAUDE.COM.BR,NaN,NaN