In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('estabelecimento4.csv', encoding = 'latin1', sep = ';')
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_4820\2483808266.py:1: DtypeWarning: Columns (8,21,22,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento4.csv', encoding = 'latin1', sep = ';')

,08479581,0002,89,2,Unnamed: 4,02,20120326,00,Unnamed: 8,Unnamed: 9,...,7167,19,36737336,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,fernandosilvacontabil@gmail.com,Unnamed: 28,Unnamed: 29
0,15266351,1,16,1,NaN,4,20210325,63,NaN,NaN,...,5833,21.0,92443452,NaN,NaN,NaN,NaN,aldomatias2010@hotmail.com,NaN,NaN
1,15266371,1,97,1,NaN,8,20180201,67,NaN,NaN,...,7107,11.0,20423904,NaN,NaN,NaN,NaN,beneditoleandro@terra.com.br,NaN,NaN
2,15266387,1,8,1,NaN,8,20221014,1,NaN,NaN,...,7097,18.0,97519799,NaN,NaN,NaN,NaN,paulamelloo@hotmail.com,NaN,NaN
3,15266401,1,65,1,KARLENNE'S PARFUMES DISTRIBUIDORA,4,20181016,63,NaN,NaN,...,7107,11.0,36999999,NaN,NaN,NaN,NaN,olimpia@hotmail.com,NaN,NaN
4,15266415,1,89,1,NaN,4,20221125,63,NaN,NaN,...,1981,83.0,33399418,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,65097065,1,42,1,INTER-PONTO,4,20181206,63,NaN,NaN,...,4123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753430,27793017,1,8,1,NaN,2,19990711,0,NaN,NaN,...,5865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,65097115,1,91,1,NaN,8,19990225,1,NaN,NaN,...,2671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,83758946,1,49,1,NaN,8,20081231,71,NaN,NaN,...,495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753433,48266027,1,57,1,NaN,8,19920203,1,NaN,NaN,...,7107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = pd.read_csv('estabelecimento4.csv', encoding = 'latin1', sep = ';', header=None)
df

C:\Users\Edson\AppData\Local\Temp\ipykernel_4820\1543943707.py:1: DtypeWarning: Columns (8,21,22,24,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('estabelecimento4.csv', encoding = 'latin1', sep = ';', header=None)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,8479581,2,89,2,NaN,2,20120326,0,NaN,NaN,...,7167,19.0,36737336,NaN,NaN,NaN,NaN,fernandosilvacontabil@gmail.com,NaN,NaN
1,15266351,1,16,1,NaN,4,20210325,63,NaN,NaN,...,5833,21.0,92443452,NaN,NaN,NaN,NaN,aldomatias2010@hotmail.com,NaN,NaN
2,15266371,1,97,1,NaN,8,20180201,67,NaN,NaN,...,7107,11.0,20423904,NaN,NaN,NaN,NaN,beneditoleandro@terra.com.br,NaN,NaN
3,15266387,1,8,1,NaN,8,20221014,1,NaN,NaN,...,7097,18.0,97519799,NaN,NaN,NaN,NaN,paulamelloo@hotmail.com,NaN,NaN
4,15266401,1,65,1,KARLENNE'S PARFUMES DISTRIBUIDORA,4,20181016,63,NaN,NaN,...,7107,11.0,36999999,NaN,NaN,NaN,NaN,olimpia@hotmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,65097065,1,42,1,INTER-PONTO,4,20181206,63,NaN,NaN,...,4123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,27793017,1,8,1,NaN,2,19990711,0,NaN,NaN,...,5865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,65097115,1,91,1,NaN,8,19990225,1,NaN,NaN,...,2671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753433,83758946,1,49,1,NaN,8,20081231,71,NaN,NaN,...,495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753434,48266027,1,57,1,NaN,8,19920203,1,NaN,NaN,...,7107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns = ['DESCRIÇÃO TIPO LOGRADOURO', 'LOGRADOURO', 'NUMERO', 'COMPLEMENTO', 'BAIRRO', 'CEP',
                'UF', 'CODIGO MUNICIPIO', 'MUNICIPIO', 'DDD-TELEFONE-1', 'DDD', 'TELEFONE-1', 'DDD-TELEFONE-2',
                'DDD-2', 'TELEFONE-2', 'DDD-FAX', 'NU-DDD-FAX', 'NU-FAX', 'CORREIO ELETRONICO', 
                'QUALIFICAÇÃO DO RESPONSÁVEL', 'CAPITAL SOCIAL DA EMPRESA', 'PORTE-EMPRESA', 'OPÇÃO PELO SIMPLES',
                'DATA OPCAO PELO SIMPLES', 'DATA EXCLUSÃO DO SIMPLES', 'OPÇÃO PELO MEI', 'SITUAÇÃO ESPECIAL',
                'DATA SITUAÇÃO ESPECIAL', 'FILLER', 'FIM DE REGISTRO']
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,8479581,2,89,2,NaN,2,20120326,0,NaN,NaN,...,7167,19.0,36737336,NaN,NaN,NaN,NaN,fernandosilvacontabil@gmail.com,NaN,NaN
1,15266351,1,16,1,NaN,4,20210325,63,NaN,NaN,...,5833,21.0,92443452,NaN,NaN,NaN,NaN,aldomatias2010@hotmail.com,NaN,NaN
2,15266371,1,97,1,NaN,8,20180201,67,NaN,NaN,...,7107,11.0,20423904,NaN,NaN,NaN,NaN,beneditoleandro@terra.com.br,NaN,NaN
3,15266387,1,8,1,NaN,8,20221014,1,NaN,NaN,...,7097,18.0,97519799,NaN,NaN,NaN,NaN,paulamelloo@hotmail.com,NaN,NaN
4,15266401,1,65,1,KARLENNE'S PARFUMES DISTRIBUIDORA,4,20181016,63,NaN,NaN,...,7107,11.0,36999999,NaN,NaN,NaN,NaN,olimpia@hotmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753430,65097065,1,42,1,INTER-PONTO,4,20181206,63,NaN,NaN,...,4123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,27793017,1,8,1,NaN,2,19990711,0,NaN,NaN,...,5865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,65097115,1,91,1,NaN,8,19990225,1,NaN,NaN,...,2671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753433,83758946,1,49,1,NaN,8,20081231,71,NaN,NaN,...,495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753434,48266027,1,57,1,NaN,8,19920203,1,NaN,NaN,...,7107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.drop(df.tail(1).index, inplace=True)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,8479581,2,89,2,NaN,2,20120326,0,NaN,NaN,...,7167,19.0,36737336,NaN,NaN,NaN,NaN,fernandosilvacontabil@gmail.com,NaN,NaN
1,15266351,1,16,1,NaN,4,20210325,63,NaN,NaN,...,5833,21.0,92443452,NaN,NaN,NaN,NaN,aldomatias2010@hotmail.com,NaN,NaN
2,15266371,1,97,1,NaN,8,20180201,67,NaN,NaN,...,7107,11.0,20423904,NaN,NaN,NaN,NaN,beneditoleandro@terra.com.br,NaN,NaN
3,15266387,1,8,1,NaN,8,20221014,1,NaN,NaN,...,7097,18.0,97519799,NaN,NaN,NaN,NaN,paulamelloo@hotmail.com,NaN,NaN
4,15266401,1,65,1,KARLENNE'S PARFUMES DISTRIBUIDORA,4,20181016,63,NaN,NaN,...,7107,11.0,36999999,NaN,NaN,NaN,NaN,olimpia@hotmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,83758789,1,71,1,CROMAR PESCA,8,20081231,71,NaN,NaN,...,427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753430,65097065,1,42,1,INTER-PONTO,4,20181206,63,NaN,NaN,...,4123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,27793017,1,8,1,NaN,2,19990711,0,NaN,NaN,...,5865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,65097115,1,91,1,NaN,8,19990225,1,NaN,NaN,...,2671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753433,83758946,1,49,1,NaN,8,20081231,71,NaN,NaN,...,495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.to_csv('n_estabelecimento4.csv', index=False)
df

,DESCRIÇÃO TIPO LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,CODIGO MUNICIPIO,MUNICIPIO,DDD-TELEFONE-1,...,CAPITAL SOCIAL DA EMPRESA,PORTE-EMPRESA,OPÇÃO PELO SIMPLES,DATA OPCAO PELO SIMPLES,DATA EXCLUSÃO DO SIMPLES,OPÇÃO PELO MEI,SITUAÇÃO ESPECIAL,DATA SITUAÇÃO ESPECIAL,FILLER,FIM DE REGISTRO
0,8479581,2,89,2,NaN,2,20120326,0,NaN,NaN,...,7167,19.0,36737336,NaN,NaN,NaN,NaN,fernandosilvacontabil@gmail.com,NaN,NaN
1,15266351,1,16,1,NaN,4,20210325,63,NaN,NaN,...,5833,21.0,92443452,NaN,NaN,NaN,NaN,aldomatias2010@hotmail.com,NaN,NaN
2,15266371,1,97,1,NaN,8,20180201,67,NaN,NaN,...,7107,11.0,20423904,NaN,NaN,NaN,NaN,beneditoleandro@terra.com.br,NaN,NaN
3,15266387,1,8,1,NaN,8,20221014,1,NaN,NaN,...,7097,18.0,97519799,NaN,NaN,NaN,NaN,paulamelloo@hotmail.com,NaN,NaN
4,15266401,1,65,1,KARLENNE'S PARFUMES DISTRIBUIDORA,4,20181016,63,NaN,NaN,...,7107,11.0,36999999,NaN,NaN,NaN,NaN,olimpia@hotmail.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4753429,83758789,1,71,1,CROMAR PESCA,8,20081231,71,NaN,NaN,...,427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753430,65097065,1,42,1,INTER-PONTO,4,20181206,63,NaN,NaN,...,4123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753431,27793017,1,8,1,NaN,2,19990711,0,NaN,NaN,...,5865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753432,65097115,1,91,1,NaN,8,19990225,1,NaN,NaN,...,2671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4753433,83758946,1,49,1,NaN,8,20081231,71,NaN,NaN,...,495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN