In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('socio5.csv', encoding='LATIN-1', sep=';')
df

,44969517,2,SERGIO MONTEIRO,***828488**,49,19951103,Unnamed: 6,***000000**,Unnamed: 8,00,5
0,44969517,1,FEMARA PARTICIPACOES E NEGOCIOS S/A,18320263000143,22,20131007,NaN,***828488**,SERGIO MONTEIRO,5,0
1,81215345,2,ROBERTO PADILHA,***461879**,49,20010711,NaN,***000000**,NaN,0,6
2,81215345,2,VILMA CARVALHO DE OLIVEIRA,***378579**,22,20010711,NaN,***461879**,ROBERTO PADILHA,5,7
3,81218885,2,NATAL MANENTI,***904839**,49,19900209,NaN,***000000**,NaN,0,6
4,81218885,2,BERNADETE DAMASCENO DANDOLINI,***539929**,22,19900209,NaN,***000000**,NaN,0,7
...,...,...,...,...,...,...,...,...,...,...,...
2019144,1580969,2,TEOGENES TEMISTOCLES LEAL PEREIRA,***920763**,49,20160301,NaN,***000000**,NaN,0,5
2019145,1580969,2,ANDREIA LEAL PEREIRA MESQUITA,***071073**,22,20160301,NaN,***000000**,NaN,0,5
2019146,1580919,2,FRANCISCO ASSIS DA SILVA,***601191**,49,19850705,NaN,***000000**,NaN,0,7
2019147,1580919,2,DORIAN BRITO MEDEIROS,***857131**,49,19850705,NaN,***000000**,NaN,0,6
2019148,60575784,2,CARLOS MANUEL ROCHA DE OLIVEIRA FREITAS,***363108**,49,19871214,NaN,***000000**,NaN,0,8

In [3]:
df = pd.read_csv('socio5.csv', encoding='LATIN-1', sep=';', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10
0,44969517,2,SERGIO MONTEIRO,***828488**,49,19951103,NaN,***000000**,NaN,0,5
1,44969517,1,FEMARA PARTICIPACOES E NEGOCIOS S/A,18320263000143,22,20131007,NaN,***828488**,SERGIO MONTEIRO,5,0
2,81215345,2,ROBERTO PADILHA,***461879**,49,20010711,NaN,***000000**,NaN,0,6
3,81215345,2,VILMA CARVALHO DE OLIVEIRA,***378579**,22,20010711,NaN,***461879**,ROBERTO PADILHA,5,7
4,81218885,2,NATAL MANENTI,***904839**,49,19900209,NaN,***000000**,NaN,0,6
...,...,...,...,...,...,...,...,...,...,...,...
2019145,1580969,2,TEOGENES TEMISTOCLES LEAL PEREIRA,***920763**,49,20160301,NaN,***000000**,NaN,0,5
2019146,1580969,2,ANDREIA LEAL PEREIRA MESQUITA,***071073**,22,20160301,NaN,***000000**,NaN,0,5
2019147,1580919,2,FRANCISCO ASSIS DA SILVA,***601191**,49,19850705,NaN,***000000**,NaN,0,7
2019148,1580919,2,DORIAN BRITO MEDEIROS,***857131**,49,19850705,NaN,***000000**,NaN,0,6
2019149,60575784,2,CARLOS MANUEL ROCHA DE OLIVEIRA FREITAS,***363108**,49,19871214,NaN,***000000**,NaN,0,8

In [4]:
df.columns = ['CNPJ', 'INDEFICADOR MATRIZ/FILIAL', 'RAZÃO SOCIAL', 'NOME FANTASIA', 'SITUAÇÃO CADASTRAL',
              'DATA SITUAÇÃO CADASTRAL', 'MOTIVO SITUAÇÃO CADASTRAL', 'CO-PAÍS', 
              'CÓDIGO NATUREZA JURIDICA', 'DATA INICIO ATIVIDADE', 'CNAE-FISCAL']
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,CO-PAÍS,CÓDIGO NATUREZA JURIDICA,DATA INICIO ATIVIDADE,CNAE-FISCAL
0,44969517,2,SERGIO MONTEIRO,***828488**,49,19951103,NaN,***000000**,NaN,0,5
1,44969517,1,FEMARA PARTICIPACOES E NEGOCIOS S/A,18320263000143,22,20131007,NaN,***828488**,SERGIO MONTEIRO,5,0
2,81215345,2,ROBERTO PADILHA,***461879**,49,20010711,NaN,***000000**,NaN,0,6
3,81215345,2,VILMA CARVALHO DE OLIVEIRA,***378579**,22,20010711,NaN,***461879**,ROBERTO PADILHA,5,7
4,81218885,2,NATAL MANENTI,***904839**,49,19900209,NaN,***000000**,NaN,0,6
...,...,...,...,...,...,...,...,...,...,...,...
2019145,1580969,2,TEOGENES TEMISTOCLES LEAL PEREIRA,***920763**,49,20160301,NaN,***000000**,NaN,0,5
2019146,1580969,2,ANDREIA LEAL PEREIRA MESQUITA,***071073**,22,20160301,NaN,***000000**,NaN,0,5
2019147,1580919,2,FRANCISCO ASSIS DA SILVA,***601191**,49,19850705,NaN,***000000**,NaN,0,7
2019148,1580919,2,DORIAN BRITO MEDEIROS,***857131**,49,19850705,NaN,***000000**,NaN,0,6
2019149,60575784,2,CARLOS MANUEL ROCHA DE OLIVEIRA FREITAS,***363108**,49,19871214,NaN,***000000**,NaN,0,8

In [5]:
df.drop(df.tail(1).index, inplace=True)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,CO-PAÍS,CÓDIGO NATUREZA JURIDICA,DATA INICIO ATIVIDADE,CNAE-FISCAL
0,44969517,2,SERGIO MONTEIRO,***828488**,49,19951103,NaN,***000000**,NaN,0,5
1,44969517,1,FEMARA PARTICIPACOES E NEGOCIOS S/A,18320263000143,22,20131007,NaN,***828488**,SERGIO MONTEIRO,5,0
2,81215345,2,ROBERTO PADILHA,***461879**,49,20010711,NaN,***000000**,NaN,0,6
3,81215345,2,VILMA CARVALHO DE OLIVEIRA,***378579**,22,20010711,NaN,***461879**,ROBERTO PADILHA,5,7
4,81218885,2,NATAL MANENTI,***904839**,49,19900209,NaN,***000000**,NaN,0,6
...,...,...,...,...,...,...,...,...,...,...,...
2019144,3223106,2,GANUZIA DAS CHAGAS SANTANA,***213135**,16,20170622,NaN,***000000**,NaN,0,5
2019145,1580969,2,TEOGENES TEMISTOCLES LEAL PEREIRA,***920763**,49,20160301,NaN,***000000**,NaN,0,5
2019146,1580969,2,ANDREIA LEAL PEREIRA MESQUITA,***071073**,22,20160301,NaN,***000000**,NaN,0,5
2019147,1580919,2,FRANCISCO ASSIS DA SILVA,***601191**,49,19850705,NaN,***000000**,NaN,0,7
2019148,1580919,2,DORIAN BRITO MEDEIROS,***857131**,49,19850705,NaN,***000000**,NaN,0,6

In [6]:
df.to_csv('n_socio5.csv', index=False)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,CO-PAÍS,CÓDIGO NATUREZA JURIDICA,DATA INICIO ATIVIDADE,CNAE-FISCAL
0,44969517,2,SERGIO MONTEIRO,***828488**,49,19951103,NaN,***000000**,NaN,0,5
1,44969517,1,FEMARA PARTICIPACOES E NEGOCIOS S/A,18320263000143,22,20131007,NaN,***828488**,SERGIO MONTEIRO,5,0
2,81215345,2,ROBERTO PADILHA,***461879**,49,20010711,NaN,***000000**,NaN,0,6
3,81215345,2,VILMA CARVALHO DE OLIVEIRA,***378579**,22,20010711,NaN,***461879**,ROBERTO PADILHA,5,7
4,81218885,2,NATAL MANENTI,***904839**,49,19900209,NaN,***000000**,NaN,0,6
...,...,...,...,...,...,...,...,...,...,...,...
2019144,3223106,2,GANUZIA DAS CHAGAS SANTANA,***213135**,16,20170622,NaN,***000000**,NaN,0,5
2019145,1580969,2,TEOGENES TEMISTOCLES LEAL PEREIRA,***920763**,49,20160301,NaN,***000000**,NaN,0,5
2019146,1580969,2,ANDREIA LEAL PEREIRA MESQUITA,***071073**,22,20160301,NaN,***000000**,NaN,0,5
2019147,1580919,2,FRANCISCO ASSIS DA SILVA,***601191**,49,19850705,NaN,***000000**,NaN,0,7
2019148,1580919,2,DORIAN BRITO MEDEIROS,***857131**,49,19850705,NaN,***000000**,NaN,0,6