In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('socio8.csv', encoding='LATIN-1', sep=';')
df

,44022923,2,GRAZIELLA ALBERGONI GALLO,***223458**,49,20211026,Unnamed: 6,***000000**,Unnamed: 8,00,5
0,44022969,2,JOSE HENRIQUE DE LIMA SOARES,***218445**,49,20211026,NaN,***000000**,NaN,0,4
1,44022980,2,ADAILTON HUDSON DE SOUSA,***662421**,49,20211026,NaN,***000000**,NaN,0,3
2,44022980,2,CELMA SARAIVA LEITE,***407431**,49,20211026,NaN,***000000**,NaN,0,6
3,44023230,2,PAULO FERNANDO GOMES MOREIRA,***180570**,49,20211026,NaN,***000000**,NaN,0,6
4,44023266,2,EDUARDO ALVES DONATO,***335698**,49,20240319,NaN,***000000**,NaN,0,5
...,...,...,...,...,...,...,...,...,...,...,...
2019144,28106597,2,ALBERTO ALVES MARQUES FILHO,***121848**,10,20170531,NaN,***000000**,NaN,0,6
2019145,28106597,2,RAFAEL GUSTAVO BATISTA DA SILVA,***570848**,16,20170531,NaN,***000000**,NaN,0,4
2019146,28106597,2,ALEXANDRE DE OLIVEIRA CAMPOS,***464678**,10,20170531,NaN,***000000**,NaN,0,6
2019147,28106738,2,ADILSON MAFRA,***904349**,49,20170417,NaN,***000000**,NaN,0,6
2019148,28106738,2,RODRIGO CARMELO AGOSTINI,***335025**,49,20200721,NaN,***000000**,NaN,0,5

In [3]:
df = pd.read_csv('socio8.csv', encoding='LATIN-1', sep=';', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10
0,44022923,2,GRAZIELLA ALBERGONI GALLO,***223458**,49,20211026,NaN,***000000**,NaN,0,5
1,44022969,2,JOSE HENRIQUE DE LIMA SOARES,***218445**,49,20211026,NaN,***000000**,NaN,0,4
2,44022980,2,ADAILTON HUDSON DE SOUSA,***662421**,49,20211026,NaN,***000000**,NaN,0,3
3,44022980,2,CELMA SARAIVA LEITE,***407431**,49,20211026,NaN,***000000**,NaN,0,6
4,44023230,2,PAULO FERNANDO GOMES MOREIRA,***180570**,49,20211026,NaN,***000000**,NaN,0,6
...,...,...,...,...,...,...,...,...,...,...,...
2019145,28106597,2,ALBERTO ALVES MARQUES FILHO,***121848**,10,20170531,NaN,***000000**,NaN,0,6
2019146,28106597,2,RAFAEL GUSTAVO BATISTA DA SILVA,***570848**,16,20170531,NaN,***000000**,NaN,0,4
2019147,28106597,2,ALEXANDRE DE OLIVEIRA CAMPOS,***464678**,10,20170531,NaN,***000000**,NaN,0,6
2019148,28106738,2,ADILSON MAFRA,***904349**,49,20170417,NaN,***000000**,NaN,0,6
2019149,28106738,2,RODRIGO CARMELO AGOSTINI,***335025**,49,20200721,NaN,***000000**,NaN,0,5

In [4]:
df.columns = ['CNPJ', 'INDEFICADOR MATRIZ/FILIAL', 'RAZÃO SOCIAL', 'NOME FANTASIA', 'SITUAÇÃO CADASTRAL',
              'DATA SITUAÇÃO CADASTRAL', 'MOTIVO SITUAÇÃO CADASTRAL', 'CO-PAÍS', 
              'CÓDIGO NATUREZA JURIDICA', 'DATA INICIO ATIVIDADE', 'CNAE-FISCAL']
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,CO-PAÍS,CÓDIGO NATUREZA JURIDICA,DATA INICIO ATIVIDADE,CNAE-FISCAL
0,44022923,2,GRAZIELLA ALBERGONI GALLO,***223458**,49,20211026,NaN,***000000**,NaN,0,5
1,44022969,2,JOSE HENRIQUE DE LIMA SOARES,***218445**,49,20211026,NaN,***000000**,NaN,0,4
2,44022980,2,ADAILTON HUDSON DE SOUSA,***662421**,49,20211026,NaN,***000000**,NaN,0,3
3,44022980,2,CELMA SARAIVA LEITE,***407431**,49,20211026,NaN,***000000**,NaN,0,6
4,44023230,2,PAULO FERNANDO GOMES MOREIRA,***180570**,49,20211026,NaN,***000000**,NaN,0,6
...,...,...,...,...,...,...,...,...,...,...,...
2019145,28106597,2,ALBERTO ALVES MARQUES FILHO,***121848**,10,20170531,NaN,***000000**,NaN,0,6
2019146,28106597,2,RAFAEL GUSTAVO BATISTA DA SILVA,***570848**,16,20170531,NaN,***000000**,NaN,0,4
2019147,28106597,2,ALEXANDRE DE OLIVEIRA CAMPOS,***464678**,10,20170531,NaN,***000000**,NaN,0,6
2019148,28106738,2,ADILSON MAFRA,***904349**,49,20170417,NaN,***000000**,NaN,0,6
2019149,28106738,2,RODRIGO CARMELO AGOSTINI,***335025**,49,20200721,NaN,***000000**,NaN,0,5

In [5]:
df.drop(df.tail(1).index, inplace=True)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,CO-PAÍS,CÓDIGO NATUREZA JURIDICA,DATA INICIO ATIVIDADE,CNAE-FISCAL
0,44022923,2,GRAZIELLA ALBERGONI GALLO,***223458**,49,20211026,NaN,***000000**,NaN,0,5
1,44022969,2,JOSE HENRIQUE DE LIMA SOARES,***218445**,49,20211026,NaN,***000000**,NaN,0,4
2,44022980,2,ADAILTON HUDSON DE SOUSA,***662421**,49,20211026,NaN,***000000**,NaN,0,3
3,44022980,2,CELMA SARAIVA LEITE,***407431**,49,20211026,NaN,***000000**,NaN,0,6
4,44023230,2,PAULO FERNANDO GOMES MOREIRA,***180570**,49,20211026,NaN,***000000**,NaN,0,6
...,...,...,...,...,...,...,...,...,...,...,...
2019144,28106597,2,JOSE DE MELLO CORREA,***066338**,10,20170531,NaN,***000000**,NaN,0,7
2019145,28106597,2,ALBERTO ALVES MARQUES FILHO,***121848**,10,20170531,NaN,***000000**,NaN,0,6
2019146,28106597,2,RAFAEL GUSTAVO BATISTA DA SILVA,***570848**,16,20170531,NaN,***000000**,NaN,0,4
2019147,28106597,2,ALEXANDRE DE OLIVEIRA CAMPOS,***464678**,10,20170531,NaN,***000000**,NaN,0,6
2019148,28106738,2,ADILSON MAFRA,***904349**,49,20170417,NaN,***000000**,NaN,0,6

In [6]:
df.to_csv('n_socio8.csv', index=False)
df

,CNPJ,INDEFICADOR MATRIZ/FILIAL,RAZÃO SOCIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA SITUAÇÃO CADASTRAL,MOTIVO SITUAÇÃO CADASTRAL,CO-PAÍS,CÓDIGO NATUREZA JURIDICA,DATA INICIO ATIVIDADE,CNAE-FISCAL
0,44022923,2,GRAZIELLA ALBERGONI GALLO,***223458**,49,20211026,NaN,***000000**,NaN,0,5
1,44022969,2,JOSE HENRIQUE DE LIMA SOARES,***218445**,49,20211026,NaN,***000000**,NaN,0,4
2,44022980,2,ADAILTON HUDSON DE SOUSA,***662421**,49,20211026,NaN,***000000**,NaN,0,3
3,44022980,2,CELMA SARAIVA LEITE,***407431**,49,20211026,NaN,***000000**,NaN,0,6
4,44023230,2,PAULO FERNANDO GOMES MOREIRA,***180570**,49,20211026,NaN,***000000**,NaN,0,6
...,...,...,...,...,...,...,...,...,...,...,...
2019144,28106597,2,JOSE DE MELLO CORREA,***066338**,10,20170531,NaN,***000000**,NaN,0,7
2019145,28106597,2,ALBERTO ALVES MARQUES FILHO,***121848**,10,20170531,NaN,***000000**,NaN,0,6
2019146,28106597,2,RAFAEL GUSTAVO BATISTA DA SILVA,***570848**,16,20170531,NaN,***000000**,NaN,0,4
2019147,28106597,2,ALEXANDRE DE OLIVEIRA CAMPOS,***464678**,10,20170531,NaN,***000000**,NaN,0,6
2019148,28106738,2,ADILSON MAFRA,***904349**,49,20170417,NaN,***000000**,NaN,0,6